<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.0" targetFramework="net472" />
  <package id="EEIP" version="1.6.0.26419" targetFramework="net472" />
  <package id="FreeSpire.XLS" version="12.7.0" targetFramework="net472" />
</packages>